.calculator_container{
  max-width: 40%; margin: auto; background-color: black; border: 20px solid blue;
}
.cal_form {width: 80%; margin: auto;}
button {width: 20%;}

 .cal_formpose{
  display: grid; grid-template-columns: auto; grid-template-rows: 16% 16% 16% 16% 16% 16%;
  justify-content: space-between; padding: 3px;
}
