body {
  font-family: Arial, Helvetica, sans-serif;
  color: navy;
}

.container {
  max-width: 80%;
  margin: auto;
  border: 1px solid grey;
}

#welcome-section {
  background-color: grey;
  position: relative;
  text-align: center;
  margin: auto;
  height: 200px;

}

#welcome-section h1 {position: relative; width: 100%; top: 15%;}
#welcome-section h2 {position: relative; width: 100%; top: 20%;}
img {position: absolute; width:150px; height: 200px; left: 0; border-radius: 15%

}

#projects {
  display: block;
  width: 30%;
  height: auto;
}

#middle_content {
  display: block;
  position: relative;
  width: 70%;
  right: 0;
  left: 30%;
  height: auto;
  border-left: 1px solid grey;
}

#navbar a {
  text-decoration: none;
  background-color: black;
  color: white;
  display: inline-block;
  padding: 14px 25px;
  text-align: center;
  width: 150px;
  border: 1px solid white;
}

#projects .project-tile a {
  text-decoration: none;
  color: red;
  font-size: 20px;
}

.biodata {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto 50px 50px 50px 50px;
}

.biodata #item1 {
  grid-column: 1/3;
}

.education {
  display: grid;
  grid-template-columns: 15% 30% 54%;
  justify-content: space-between;
  grid-template-rows: auto 50px 50px 50px 50px;
  grid-gap: 2px;
  background-color: black;
  padding: 3px;
}

.education div {
  background-color: white;
  text-align: center;
}

.education #educ-heading {
  grid-column: 1 / span 3;
}

.skills {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

.skills #skills-heading {
  grid-column: 1 / span 2;
}

.work_history {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: auto 30px 30px;
}

.work_history #work-heading {
  grid-column: 1 / 3;
}

#profile-link {
  background-color: black;
  padding: 5px;
  text-align: center;
}

#profile-link a {
  display: inline-block;
  width: 100px;
  border: 1px solid white;
  padding: 5px;
  color: white;
}
